<div class="content">
    <section id="services" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="p-4 position-relative">
                        <h2 class="text-roxata font-regular">
                            Abacus Technical Developments is a company focused on serving the Construction Industry by
                            providing Drawing and Drafting, Cost Estimation and Project Management services.
                        </h2>
                        <h5 class="font-light">
                            <br>
                            We are a reliable supplier in the matter of costs, quality, and time.
                            <br><br>
                            With a vast experience in construction, we put at the disposal of our customers the methods
                            we
                            have developed during our careers, so they can focus on productivity and quality on field
                            instead of
                            spending their resources on desk activities.
                            <br><br>
                            By working with us, our clients can improve their competitivity by spending just the exact
                            amount of resources for a specific project instead of having fixed cost on their structure.
                        </h5>
                    </div>
                    <span id="start-point-1">
                    </span>
                    <!-- <div class="shape-container" id="shape-cont01">
                        <div class="shape1"></div>
                        <div class="shape2"></div>
                    </div> -->
                    <div class="left-half-fixed" id="fixed-element-1"
                        style="background-image: url('assets/asset01.jpg');background-size: cover; background-repeat: no-repeat;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="p-4">
                        <h2 class="text-roxata text-black">
                            For each of them we offer services
                            related to the construction process:
                        </h2>
                        <div class="row text-roxata pt-4">
                            <!-- Primera fila -->
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">Shop drawings and detailing</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">Drafting</div>
                            </div>
                            <div
                                class="col-sm-4 col-xs-12 p-4 border-bc d-flex align-items-center d-flex align-items-center">
                                <div class="font-bold">Fabrication drawings</div>
                            </div>
                            <!-- Segunda fila -->
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">As built plans</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">Take-offs</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc d-flex align-items-center">
                                <div class="font-bold">Bill of materials for vendors</div>
                            </div>
                            <!-- Tercera fila -->
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">Unit price analysis</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">BIDs management and submission</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc d-flex align-items-center">
                                <div class="font-bold">Scope Leveling</div>
                            </div>
                            <!-- Cuarta fila -->
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">Construction methodology</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc border-rc d-flex align-items-center">
                                <div class="font-bold">Scheduling services</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bc d-flex align-items-center">
                                <div class="font-bold">Project accounting</div>
                            </div>
                            <!-- Quinta fila (sin borde inferior) -->
                            <div class="col-sm-4 col-xs-12 p-4 border-bxs border-rc d-flex align-items-center">
                                <div class="font-bold">Submittal managements</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 border-bxs border-rc d-flex align-items-center">
                                <div class="font-bold">BIM management</div>
                            </div>
                            <div class="col-sm-4 col-xs-12 p-4 d-flex align-items-center">
                                <div class="font-bold">Quality Dossier</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-4">
                        <span class="font-regular home-menu text-roxata">SERVICES</span>
                        <h5 class="font-light">
                            We have three independent departments, each specialized in one of our three main Services:
                        </h5>
                        <div class="accordion mt-4" id="servicesAccordion">
                            <div class="accordion-item border-0">
                                <h2 class="accordion-header" id="headingOne">
                                    <button style="border-top: 1px solid #0129fa !important;"
                                        class="accordion-button custom-accordion-button font-medium text-roxata home-acordeon border-tc border-bc"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Drawings and drafting
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#servicesAccordion">
                                    <div class="accordion-body">
                                        <h5 class="font-light">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, impedit
                                            consequuntur? Voluptatem,
                                            vero repellendus, laborum similique, totam harum porro nulla repellat
                                            tempore
                                            qui sed explicabo
                                            consequatur pariatur impedit placeat magni!
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button style="border-top: 1px solid #0129fa !important;"
                                        class="accordion-button custom-accordion-button collapsed font-medium text-roxata home-acordeon border-bc"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">
                                        Cost estimation
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                    data-bs-parent="#servicesAccordion">
                                    <div class="accordion-body">
                                        <h5 class="font-light">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, impedit
                                            consequuntur? Voluptatem,
                                            vero repellendus, laborum similique, totam harum porro nulla repellat
                                            tempore
                                            qui sed explicabo
                                            consequatur pariatur impedit placeat magni!
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item border-0">
                                <h2 class="accordion-header" id="headingThree">
                                    <button
                                        style="border-top: 1px solid #0129fa !important; border-bottom: 1px solid #0129fa !important;"
                                        class="accordion-button custom-accordion-button collapsed font-medium text-roxata home-acordeon border-bc"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        Project Management
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree" data-bs-parent="#servicesAccordion">
                                    <div class="accordion-body">
                                        <h5 class="font-light">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, impedit
                                            consequuntur? Voluptatem,
                                            vero repellendus, laborum similique, totam harum porro nulla repellat
                                            tempore
                                            qui sed explicabo
                                            consequatur pariatur impedit placeat magni!
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="bg-roxata">
        <div class="container">
            <h3 class="text-white font-regular py-5 text-center">
                We have the readiness to handle any commercial, residential, industrial, health and government project
                which
                involves any trade: civil work, shell concrete, structural steel, painting and waterproofing, stucco,
                dry
                wall and ceiling, tiles, miscellaneous metals, plumbing, mechanical, sci, electrical, low voltage,
                cabinet,
                landscape, industrial piping, etc.
            </h3>
        </div>
    </div>
    <div class="bg-white py-5">
        <div class="container">
            <h3 class="text-roxata font-bold text-center px-5">
                For working with us, once our client has designed and/or chose which solution suits its needs, it is
                possible to purchase it in several manners:
            </h3>
        </div>
        <div class="d-flex flex-wrap justify-content-center mt-3">
            <div class="d-flex cardpay">
                <div class="cardpay-left">
                    <h3 class="font-bold p-3 m-0">a</h3>
                </div>
                <div class="font-bold flex-fill rounded-end">
                    <h3 class="font-bold p-3 m-0">
                        Single time service
                    </h3>
                </div>
            </div>
            <div class="d-flex cardpay">
                <div class="cardpay-left">
                    <h3 class="font-bold p-3 m-0">b</h3>
                </div>
                <div class="font-bold flex-fill rounded-end">
                    <h3 class="font-bold p-3 m-0">
                        Monthly subscription
                    </h3>
                </div>
            </div>
            <div class="d-flex cardpay">
                <div class="cardpay-left">
                    <h3 class="font-bold p-3 m-0">c</h3>
                </div>
                <div class="font-bold flex-fill rounded-end">
                    <h3 class="font-bold p-3 m-0">
                        Per hour pay
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-roxata-grey py-5">
        <div class="container py-3">
            <div class="row">
                <h3 class="text-roxata font-regular text-center">
                    The price in each payment method depends on <br>
                    several variables from each specific project
                </h3>
            </div>
            <div class="row pt-2">
                <h5 class="text-center"><span class="contactus-button">contact us</span> contact us by any mean and we
                    will
                    soon answer you</h5>
            </div>
        </div>
    </div>
    <section id="trades">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="p-4">
                        <span class="font-regular home-menu text-roxata">Trades</span>
                        <h5 class="font-light">
                            Construction is the synergy of several trades,
                            each dealing with a specific aspect of the whole.
                            Any project might involve more or less trades
                            according to the complexity of it, though all of
                            them, even the smallest one, deserves deeply
                            attention to understand the correlation between
                            the trades involved.
                        </h5>
                        <div class="scroll-container">
                            <div id="scroll1" class="d-flex flex-column" #scroll1 (scroll)="handleScroll()">
                                <div *ngFor="let item of items" class="scroll-item font-regular home-menu text-black">{{
                                    item }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mb-4">
                    <div class="p-4">
                        IMAGEN
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="experience" class="bg-roxata text-white">
        <div class="container">
            <div class="py-5">
                <div class="col-12">
                    <div class="px-4">
                        <span class="font-regular home-menu">Experience</span>
                    </div>
                </div>
                <div class="row pt-2 pb-5">
                    <div class="col-lg-6 col-md-12">
                        <div class="px-4 d-flex flex-column">
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals shop drawings Delray</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals shop drawings Berkeley
                                        Landing
                                    </h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals shop drawings Moxy</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals shop drawings Custom
                                        Residence
                                    </h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals shop drawings Conviva</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Shell and Civil take offs monthly subscription for Testing
                                        Company</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Stucco and painting take offs Aventura Quattro</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Civil take offs Aventura Quattro</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container exp-container-end ece">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Shell take offs Aventura Quattro</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-4">
                        <div class="px-4 d-flex flex-column">
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals take offs Aventura Quattro
                                    </h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Drywall and ceiling take offs Aventura Quattro</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Precast objects take offs Unknown Residence</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Drywall and Ceiling take offs Moxy</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Drywall and Ceiling take offs Hollywood</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Structural Steel and misc. metals scope, take offs, and
                                        vendor
                                        supplier material list Home2suits</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Tile and floor take offs and unit cost analysis, Old Cutler
                                    </h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">Architectural and Structural Steel permit drawings, Bodegas
                                        Costa
                                        del Este.</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="exp-container exp-container-end">
                                <div class="ext-content d-flex justify-content-between align-items-center">
                                    <h5 class="font-light">GC complete proposal, NN Gas Station</h5>
                                    <div class="arrow-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="py-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12 position-relative">
                        <div class="px-4 position-relative" style="z-index: 1;">
                            <span class="font-regular text-roxata home-menu" style="line-height: 1;">Contact <br> and
                                quote
                                <br> pricing</span>
                        </div>
                        <div class="contact-img position-absolute">
                            <img src="assets/asset02.png" alt="Contact Image" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 py-4">
                        <div class="px-4 d-flex flex-column">
                            <div class="contact-cont d-flex flex-fill align-items-end py-2">
                                <div class="d-flex flex-column">
                                    <h3 class="text-roxata font-regular">Ricardo Cevallos</h3>
                                    <h5 class="font-light">Chief Executive Officer</h5>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5 class="font-light">+593 098 765 4321</h5>
                                    <h5 class="font-light text-roxata">email@roxata.com</h5>
                                </div>
                            </div>
                            <div class="contact-cont d-flex flex-fill align-items-end py-2">
                                <div class="d-flex flex-column">
                                    <h3 class="text-roxata font-regular">Miguel Andrade</h3>
                                    <h5 class="font-light">Chief Technical Officer</h5>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5 class="font-light">+593 098 765 4321</h5>
                                    <h5 class="font-light text-roxata">email@roxata.com</h5>
                                </div>
                            </div>
                            <div class="contact-cont d-flex flex-fill align-items-end py-2"
                                style="border-bottom: 1px solid #0129fa;">
                                <div class="d-flex flex-column">
                                    <h3 class="text-roxata font-regular">María Laura Andrade</h3>
                                    <h5 class="font-light">Chief Commercial Officer</h5>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5 class="font-light">+593 098 765 4321</h5>
                                    <h5 class="font-light text-roxata">email@roxata.com</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="career" class="bg-roxata-grey">
        <div class="container">
            <div class="pt-5">
                <div class="row">
                    <div class="col-lg-6 col-md-12 position-relative">
                        <div class="px-4">
                            <span class="font-regular text-roxata home-menu">Career</span>
                        </div>
                        <div class="career-sc">
                            <div class="career-shape"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 py-4">
                        <div class="px-4 d-flex flex-column">
                            <div class="contact-cont d-flex flex-fill align-items-end py-2">
                                <h5 class="font-light">Senior structural steel and miscellaneous metals detailer.</h5>
                            </div>
                            <div class="contact-cont d-flex flex-fill align-items-end py-2">
                                <h5 class="font-light">Junior civil project manager.</h5>
                            </div>
                            <div class="contact-cont d-flex flex-fill align-items-end py-2">
                                <h5 class="font-light">Senior coder.</h5>
                            </div>
                            <div class="contact-cont d-flex flex-fill align-items-end py-2">
                                <h5 class="font-light">Project accountant.</h5>
                            </div>
                            <div class="contact-cont d-flex flex-fill align-items-end py-2"
                                style="border-bottom:  1px #0129fa;">
                                <h5 class="font-light">BIM coordinator.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>