.producto-shape {
    padding-bottom: 120px;
    width: 33%;
    height: 300px;
    clip-path: polygon(0 60%, 0 0, 100% 40%, 100% 100%);
    background-size: cover;
    flex-wrap: nowrap;
}

.producto-shape .text-bold {
    white-space: nowrap; 
}

.cardpay:hover,
.producto-shape:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.cardpay {
    border: 2px solid #0129fa;
    border-radius: 25px;
    margin: 5px;
}

.cardpay-left {
    color: white;
    background-color: #0129fa !important;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.contactus-button {
    background-color: #0129fa;
    color: white;
    padding: 0 5px 5px 5px;
    cursor: pointer;
}

.contactus-button:hover {
    background-color: white;
    color: #0129fa;
}

.scroll-container {
    position: relative;
    max-height: 255px;
    overflow: hidden;
    background: white;
}

.scroll-container::before,
.scroll-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2;
    pointer-events: none;
}

.scroll-container::before {
    height: 110px;
    top: 0;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0));
}

.scroll-container::after {
    height: 110px;
    bottom: 0;
    background: linear-gradient(to top, white 10%, rgba(255, 255, 255, 0));
}

#scroll1 {
    position: relative;
    max-height: 255px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 1;
}

#scroll1::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#scroll1::before,
#scroll1::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    pointer-events: none;
}

.scroll-item {
    margin-bottom: -35px;
    padding-bottom: -35px;
}

.exp-container {
    border-top: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.exp-container-end {
    border-bottom: 1px solid white;
}

.ext-content {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.arrow-icon {
    color:#0129fa;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
}

.exp-container:hover {
    background: white;
    color: black;
}

.exp-container:hover .arrow-icon svg {
    color: black;
}

.left-half-fixed {
    position: absolute;
    left: 0;
    width: 50%;
    height: 800px;
    clip-path: polygon(100% 100%, -40% 30%, 0% 0%, 140% 70%);
}

.shape-container {
    position: absolute;
    left: 0;
    top: 50%;
    width: 200px;
    height: 480px;
}

.img-shape1,
.shape1,
.shape2 {
    position: absolute;
    right: 0;
}

.img-shape1 {
    background-image: url('../../../assets/asset01.jpg');
    background-size: cover;
    width: 150%;
    height: 1200px;
    clip-path: polygon(100% 40%, 100% 100%, 0 60%, 0 0);
    top: 290px;
    z-index: -1;
}

.img-shape2 {
    position: absolute;
    bottom: 360px;
    background-image: url('../../../assets/asset05.jpg');
    background-size: cover;
    width: 150%;
    height: 700px;
    left: 0;
    clip-path: polygon(0 40%, 100% 0, 100% 60%, 0 100%);
}

.shape1 {
    background-color: black;
    width: 100px;
    height: 180px;
    clip-path: polygon(100% 100%, -40% 30%, 0% 0%, 140% 70%);
    bottom: 850px;
}

.shape2 {
    background-color: #E6E7E8;
    width: 200px;
    height: 300px;
    clip-path: polygon(100% 0%, -40% 70%, 0% 100%, 140% 30%);
    bottom: 550px;
}

.contact-shape {
    bottom: 750px;
}

.career-shape {
    bottom: 360px;
}

@media (max-width: 1400px) {
    .content{
        margin-top: 2%;
    }

    .img-shape1 {
        top: 400px;
    }

    .shape1 {
        bottom: 780px;
    }

    .shape2 {
        bottom: 480px;
    }
}

@media (max-width: 1200px) {
    .content{
        margin-top: 5%;
    }

    .img-shape1 {
        bottom: 45px;
    }

    .img-shape2 {
        bottom: 400px;
    }

    .shape1 {
        bottom: 780;
    }

    .shape2 {
        bottom: 680;
    }
}

@media (max-width: 991px) {
    .content{
        margin-top: 10%;
    }

    .space1 {
        padding-bottom: 100% !important;
    }

    .space2 {
        height: 500px;
    }

    .img-shape1 {
        top: 360px;
        right: -150px;
        height: 750px;
    }

    .img-shape2 {
        bottom: 750px;
        left: -150px;
        height: 550px;
        z-index: 2;
    }

    .shape1 {
        top: 240px;
        right: -150px;
    }

    .shape2 {
        top: 420px;
        right: -151px;
    }

    .contact-shape {
        bottom: 550px;
    }

    .ece {
        border-bottom: none !important;
    }

    .career-shape {
        bottom: 0;
        width: 150px;
        height: 250px;
    }

    .exp-container-end-not {
        border-bottom: none;
    }
}

@media (max-width:768px) {
    .content{
        margin-top: 15%;
    }

    .img-shape1 {
        top: 500px;
    }

    .img-shape2 {
        bottom: 725px;
    }

    .contact-shape {
        bottom: 600px;
    }

    .space1 {
        padding-bottom: 150% !important;
    }
}

@media (max-width: 576px) {
    .content{
        margin-top: 20%;
    }

    .fila-out {
        padding: 0 !important;
        border-top: 0 !important;
        border-bottom: 0 !important;
    }

    .img-shape2 {
        bottom: 825px;
    }

    .contact-shape {
        bottom: 650px;
    }

    .py-xs-3 {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .border-bxs {
        border-bottom: 1px solid #0129fa;
    }

    .border-rc {
        border-right: none;
    }

    .career-shape {
        bottom: 30px;
        width: 100px;
        height: 200px;
    }
}

@media (max-width: 455px) {
    .content{
        margin-top: 35%;
    }

    .img-shape1 {
        height: 600px;
        top: 580px;
    }

    .exp-container {
        width: 100%;
    }

    .producto-shape {
        clip-path: none;
        height: 150px;
        padding-bottom: none;
        padding: 40px;
    }

    .producto-shape h5 {
        font-size: 16px;
    }

    .col-4 {
        width: 100%;
        display: block;
    }

    .d-flex {
        display: block;
    }

    .contact-info {
        flex-direction: column !important;
        align-items: start !important;
    }
}

@media (max-width: 400px) {
    .img-shape1 {
        height: 500px;
        top: 680px;
    }
}