.border-bc,
.border-tc {
    border-bottom: 1px solid #0129fa;
}

.border-rc {
    border-right: 1px solid #0129fa;
}

.custom-accordion-button {
    border-radius: 0 !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-accordion-button:not(.collapsed) {
    background-color: #0129fa !important;
    color: white !important;
}

.custom-accordion-button:not(.collapsed)::after {
    filter: invert(1);
    /* Change arrow color to white */
}

.accordion-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:not(.collapsed) {
    background-color: #0129fa !important;
    color: white !important;
}

.custom-accordion-button:not(.collapsed)::after {
    color: white !important;
    /* Change arrow color to white */
}

/* Override Bootstrap default styles */
.accordion-item {
    border: none !important;
}

.accordion-button {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.cardpay {
    border: 2px solid #0129fa;
    border-radius: 25px;
    margin: 5px;
}

.cardpay-left {
    color: white;
    background-color: #0129fa !important;
    border-bottom-left-radius: 21px;
    border-top-left-radius: 21px;
}

.contactus-button {
    background-color: #0129fa;
    color: white;
    padding: 0 5px 5px 5px;
    cursor: pointer;
}

.contactus-button:hover {
    background-color: white;
    color: #0129fa;
}

.scroll-container {
    position: relative;
    max-height: 255px;
    overflow: hidden;
    background: white;
}

.scroll-container::before,
.scroll-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2;
    pointer-events: none;
}

.scroll-container::before {
    height: 110px;
    top: 0;
    background: linear-gradient(to bottom, white 50%, rgba(255, 255, 255, 0));
}

.scroll-container::after {
    height: 110px;
    bottom: 0;
    background: linear-gradient(to top, white 10%, rgba(255, 255, 255, 0));
}

#scroll1 {
    position: relative;
    max-height: 255px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 1;
}

#scroll1::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

#scroll1::before,
#scroll1::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 50px;
    pointer-events: none;
}

.scroll-item {
    margin-bottom: -35px;
    padding-bottom: -35px;
}

.exp-container {
    border-top: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.exp-container-end {
    border-bottom: 1px solid white;
}

.ext-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
}

.exp-container:hover {
    background: white;
    color: #0129fa;
}

.contact-cont {
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #0129fa;
}

@media (max-width: 576px) {
    .border-bxs {
        border-bottom: 1px solid #0129fa;
    }

    .border-rc {
        border-right: none;
    }
}

@media (max-width: 991px) {
    .ece {
        border-bottom: none !important;
    }
}