<div class="modal fade" id="fullScreenModal" tabindex="-1" aria-labelledby="fullScreenModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content h-100">
      <button type="button" class="btn-close btn-close-large position-absolute top-0 end-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="row flex-grow-1">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center bg-roxata" style="padding-right: 0;">
          <div id="carouselExample" class="carousel slide w-100" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of project?.imagenes; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
                <img [src]="image" class="d-block w-100 carousel-image" alt="..." (click)="openImageViewer(i)">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="w-75">
            <span class="font-regular home-menu text-roxata">Details</span>
            <div class="ml-5">
              <h5 class="font-light text-roxata font-bold">Project:</h5>
              <h5 class="font-light">{{ project?.project }}</h5>
              <h5 class="font-light text-roxata font-bold">Company:</h5>
              <h5 class="font-light">{{ project?.company }}</h5>
              <h5 class="font-light text-roxata font-bold">Description:</h5>
              <h5 class="font-light">{{ project?.description }}</h5>
              <h5 class="font-light text-roxata font-bold">Involvement:</h5>
              <h5 class="font-light">{{ project?.involvement }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Visor de imagen en pantalla completa -->
<div class="modal fade" id="imageViewer" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-dark">
      <div class="modal-body position-relative p-0">
        <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3" data-bs-dismiss="modal"></button>
        
        <div class="d-flex justify-content-center align-items-center h-100">
          <img [src]="currentImage" class="img-fluid" alt="Imagen ampliada">
        </div>
      </div>
    </div>
  </div>
</div>