body {
    font-family: 'bilo', sans-serif !important;
}

.border-bc {
    border-bottom: 1px solid #0129fa;
}

.border-tc {
    border-top: 1px solid #0129fa;
}

.border-rc {
    border-right: 1px solid #0129fa;
}

.text-roxata {
    color: #0129fa !important;
}

.color-roxata {
    color: #0129fa;
}

.bg-roxata {
    background-color: #0129fa !important;
}

.bg-roxata-grey {
    background-color: #e6e7e8;
}

.border-roxata {
    border-color: #0129fa !important;
}

.btn-roxata {
    color: #fff !important;
    background-color: #0129fa !important;
    border-color: #0129fa !important;
}

.btn-roxata:hover {
    color: #fff !important;
    background-color: #001fba !important;
    border-color: #001fb0 !important;
}

.btn-roxata:focus,
.btn-roxata.focus {
    color: #fff !important;
    background-color: #001fba !important;
    border-color: #001fb0 !important;
    box-shadow: 0 0 0 0.2rem rgba(1, 41, 250, 0.5) !important;
}

.btn-roxata:active,
.btn-roxata.active,
.show>.btn-roxata.dropdown-toggle {
    color: #fff !important;
    background-color: #001fba !important;
    border-color: #001fb0 !important;
}

.btn-roxata:active:hover,
.btn-roxata.active:hover,
.show>.btn-roxata.dropdown-toggle:hover {
    color: #fff !important;
    background-color: #001fba !important;
    border-color: #001fb0 !important;
}

.btn-roxata:disabled,
.btn-roxata.disabled {
    color: #fff !important;
    background-color: #0129fa !important;
    border-color: #0129fa !important;
}

.nav-link:hover,
.nav-link.active {
    background-color: white;
    color: #0129fa !important;
}

.nav-link {
    transition: background-color 0.3s, color 0.3s;
}

.font-light {
    font-weight: 400 !important;
}

.font-regular {
    font-weight: 500 !important;
}

.font-medium {
    font-weight: 600 !important;
}

.font-bold {
    font-weight: 700 !important;
}

.home-menu {
    font-size: 75px;
}

.home-acordeon {
    font-size: 35px !important;
}

.navbar-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0129fa;
    z-index: 1000;
    transition: all 0.5s;
}

.content {
    margin-top: 0;
    /* Ensure the content starts below the full screen navbar */
}

.lh-min {
    line-height: 1;
}

.menu-shape {
    position: absolute;
    background-color: #0129fa;
    width: 150%;
    height: 1700px;
    right: 0;
    top: -300px;
    clip-path: polygon(0 50%, 100% 0, 100% 50%, 0% 100%);
}

.menu-nav {
    position: absolute;
    top: 250px;

}

.menu-nav li {
    padding-right: 5%;
    padding-left: 5%;
}

.custom-accordion-button {
    border-radius: 0 !important;
    border-top: 1px solid #0129fa !important;
    border-bottom: 1px solid #0129fa !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-accordion-button:hover {
    background-color: #E6E7E8;
}

.custom-accordion-button:not(.collapsed) {
    background-color: white !important;
}


.accordion-button {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accordion-button:not(.collapsed) {
    color: black !important;
}

/* Override Bootstrap default styles */
.accordion-item {
    border: none !important;
}

.accordion-button {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

/* Animación para aparecer desde arriba */
@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animación para desaparecer hacia arriba */
@keyframes slideOutToTop {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Clases para aplicar las animaciones */
.slide-in {
    animation: slideInFromTop 0.5s forwards;
}

.slide-out {
    animation: slideOutToTop 0.5s forwards;
}

.contact-container {
    height: 400px;
}

.contact-shape,
.contact-shape1,
.career-shape {
    position: absolute;
    right: 0;
    transition: transform 0.1s linear; /* Añade una transición suave */
}

.contact-shape {
    background-image: url('/assets/asset06.jpg');
    background-size: cover;
    width: 100%;
    height: 80%;
    bottom: 225px;
    clip-path: polygon(100% 0, 30% 100%, 100% 100%);
}

.contact-shape1 {
    background-color: #E6E7E8;
    width: 100px;
    height: 180px;
    clip-path: polygon(100% 100%, -40% 30%, 0% 0%, 140% 70%);
    bottom: 380px;
}

.career-shape {
    background-color: #0129fa;
    width: 200px;
    height: 300px;
    bottom: 100px;
    clip-path: polygon(100% 0%, -40% 70%, 0% 100%, 140% 30%);
}

@media (max-width: 1200px) {

    .contact-container {
        height: 500px;
    }
}

@media (max-width: 992px) {
    .career-shape {
        left: -126px;
        width: 100px;
        height: 200px;
        bottom: 300px;
    }
    .contact-shape1 {
        right: -126px;
        bottom: 639px;
    }
    .contact-shape {
        bottom: 475px;
        right: -126px;
        width: 75%;
    }
}

@media (max-width:768px) {
    .career-shape {
        bottom: 30px;
        width: 100px;
        height: 200px;
    }
}