<nav class="navbar navbar-expand-md bg-roxata">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/roxata.png" alt="Logo" height="30">
    </a>
    <div>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()"
        [attr.aria-expanded]="!isNavbarCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': !isNavbarCollapsed}" class="justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" routerLink="/about-us" routerLinkActive="active">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" (click)="scrollToSection('services')">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" (click)="scrollToSection('trades')">TRADES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" (click)="scrollToSection('experience')">EXPERIENCE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" (click)="scrollToSection('contact')">CONTACT AND QUOTE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white font-weight-bold" style="font-size: 0.9rem;" (click)="scrollToSection('career')">CAREER</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
